		
		#headt{
			width:100%;
			height:80px;
			min-width:1080px;
			background-color:#dddddd8c;
		}
		#logo{ 
			width:80px;
			height:80px;
			
		}
		#headl{
			height:80px;
			width:150px;
			float:left;
			font-size:20px;
			font-weight:800;
			color:#brown;
			position: absolute;
			z-index: 60;
		}
		#headr{
			width:200px;
			margin-right:50px;
			float:right;
			display:table;
			position: relative;
			z-index: 60;
		}
		#headr div{
			width:200px;
			height: 80px;
			
			display:table-cell;
			vertical-align:middle;
			text-align:right;
		}
		#headb{
			width:100%;
			min-width:1350px;
			height:80px;
			padding-top: 10px;
			clear:both;
			color:white;
			
			position:absolute;
		}
		#headb a{
			color:brown;
			text-decoration:none
		}
/*=====================================================
	menu
=======================================================*/
		#menu{
			min-width:1080px;
			height:60px;
			display:table;
			margin-bottom:10px;
			font-size:13pt;
			font-weight:bold;
		}
		#menu li{
			width:154px;
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			color:brown;
		}
		#submenu{
			position:relative;
			min-width:1080px;
			height:175px;
			display:block;
			background-color:#e8e7e7bf;
			z-index:50;
			padding-top:10px;
		}
		#submenuin{
			display:table;
			line-height:30px;
		}
		#submenuin ul{
			width:154px;
			display:table-cell;
			list-style-type:none;
			text-align:center;
		}
		#submenuin ul li {
			color:brown;
			text-align: center;
			line-height: 2.0;
			font-size: 13px;
			list-style-type:none;
		}



















