	*{
		margin:0 auto;
		padding:0;
	}
	.wrap{
		width: 1080px;
		height:3000px;
	}
	#menu9{
		float: left;
		height: 100%;
		width: 360px;
		background: rgba(0,0,0,.1);
		position: fixed;
		padding-left: 40px;
	}
	#menubtn9{
		float: left;
		width: 100px;
		height: 100px;
		position: fixed;
		z-index: 999;
	}
	#f, #s, #title, #sub_t{
		color:black;
	}
	#f{
		position: fixed;
		top: 300px;
		font-size: 20pt;
		font-weight: bold;
		line-height: 2;
	}
	#s{
		position: fixed;
		top: 550px;
		font-size: 20pt;
		font-weight: bold;
		
	}
	#s ul{
		list-style-type: none;
	}
	#f ul{
		list-style-type: none;
	}
	#logo{
		width: 130px;
		height: 130px;
		position: absolute;
		top: 10px;
		left: 15px;

	}
	#title{
		position: fixed;
		top: 50px;
		left: 150px;
		font-size: 30pt;
		
		font-weight: bold;
	}
	#sub_t{
		font-size: 65px;
		font-weight: bold;
		text-align: center;
		margin-top: 50px;
		background-color: white;
		width: 1080px;
	}
	#add_prod{
		position: fixed;
		top: 600px;
		font-weight: bold;
		font-size:20pt;
	}
	a{
		text-decoration: none;
	}
	