<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<select id = "login" resultType = "user" parameterType = "user">
		select * from user where id = #{id} and pw = #{pw};
	</select>
	<select id = "boardlist" resultType = "board" parameterType = "page">
		select * from ${board_name} order by board_num desc limit #{limitindex}, 20;
	</select>
	<select id = "sid" resultType = "user" parameterType = "String">
		select * from user where id = #{value};
	</select>
	<select id = "snick" resultType = "user" parameterType = "String">
		select * from user where nick = #{nick};
	</select>
	<select id = "boardlists" resultType = "board" parameterType = "page">
		select * from ${board_name} where ${s_type} like #{s_key} order by board_num desc limit #{limitindex}, 20;
	</select>
	<select id = "view" resultType = "board" parameterType = "board">
		select * from ${board_name} where board_num = #{board_num};
	</select>
	<select id = "writerchk" resultType = "String" parameterType = "board">
		select nick from ${board_name} where board_num = #{board_num};
	</select>
	<select id = "count" resultType = "Integer" parameterType = "String">
		select count(*) from ${value};
	</select>
	<select id = "csearch" resultType = "Integer" parameterType = "page">
		select count(*) from ${board_name} where ${s_type} like #{s_key};
	</select>
	<select id = "Bproductlist_r" resultType = "com.windy.vo.Product">
		select a.*, avg(pr_star) as'best' from windy1010.product a 
		join windy1010.p_review b on a.p_code = b.p_code where a.p_kind = #{value} 
		group by p_code order by best desc, count(*) desc limit 6;
	</select>
	<select id = "Bproductlist_m" resultType = "com.windy.vo.Product">
		select a.*, avg(pr_star) as'best' from windy1010.product a 
		join windy1010.p_review b on a.p_code = b.p_code where a.p_kind = #{value}
		group by p_code order by best desc, count(*) desc limit 6;
	</select>
	<select id = "Bproductlist_h" resultType = "com.windy.vo.Product">
		select a.*, avg(pr_star) as'best' from windy1010.product a 
		join windy1010.p_review b on a.p_code = b.p_code where a.p_kind = #{value} 
		group by p_code order by best desc, count(*) desc limit 6;
	</select>
	<select id = "productdetail" resultType = "com.windy.vo.Product" parameterType = "String">
		select * from product where p_code = #{value};
	</select>
	<select id = "option" resultType = "com.windy.vo.Product" parameterType = "String">
		select p_option,p_stock from stockmanage where p_code = #{value};
	</select>
	<select id = "p_review" resultType = "com.windy.vo.P_review" parameterType = "String">
		select * from windy1010.p_review where p_code = #{p_code};
	</select>
	<select id = "pr_chk" resultType = "Integer" parameterType = "com.windy.vo.Order">
		select count(*) from windy1010.order where p_code = #{p_code} and id=#{id};
	</select>
	<select id = "findp" resultType = "com.windy.vo.Product" parameterType = "com.windy.vo.Product">
		SELECT distinct a.* FROM windy1010.product a join windy1010.stockmanage b on a.p_code=b.p_code where (p_kind regexp #{p_kind}) 
		and (p_size regexp #{p_size}) and (p_name regexp #{p_name})
		<choose>
			<when test="p_price ==1">
				order by p_price asc;
			</when>
			<otherwise>
				order by p_price desc;
			</otherwise>
		</choose>
	</select>
	<insert id = "pr_write" parameterType = "com.windy.vo.P_review">
		insert into p_review values(default,#{p_code},#{pr_text},#{pr_star},#{pr_title},#{nick});
	</insert>
	<insert id = "ord" parameterType = "com.windy.vo.Order">
		insert into windy1010.order values
		<foreach collection="list" index="index" item="orl" separator=",">
			(now(),#{orl.p_code},#{orl.id},#{orl.o_option},${orl.o_count},${orl.o_price},curdate(),#{orl.o_state})
		</foreach>
	</insert>
	
	
	<select id = "mypage_user_info_select" resultType = "com.windy.vo.User" parameterType = "String">
		select * from user where id = #{id};
	</select>
	<select id = "mypage_board_select" resultType = "com.windy.vo.Board" parameterType = "String">
		select * from board where nick = #{nick};
	</select>
	<select id = "mypage_comp_challenge_select" resultType = "com.windy.vo.Challenge_comp" parameterType = "String">
		select challenge_comp.c_code, challenge_comp.id,challenge_comp.comp_date,challenge_list.c_name,challenge_list.c_content,challenge_list.c_score from challenge_comp natural join challenge_list where id = #{id};
	</select>
	<select id = "mypage_event_select" resultType="com.windy.vo.Mypage_event" parameterType = "String">
		select distinct event_pp.e_num ,windy1010.event.e_title , windy1010.event.s_date,windy1010.event.e_date from windy1010.event_pp natural join windy1010.event where id = #{id};
	</select>
	
	<select id = "mypage_wish_list_select" resultType = "com.windy.vo.Order" parameterType = "String">
		SELECT windy1010.order.*,product.p_name from windy1010.order natural join product where id = #{id} and o_state = 'addcart';
	</select>
	<update id = "mypage_user_info_update" parameterType = "user">
		update user set nick = #{nick}, name = #{name},  tel = #{tel}, addr = #{addr}, addr1 = #{addr1}, addr2 = #{addr2}, addr3 = #{addr3}, email = #{email}, profile_img = #{profile_img} where id = #{id};
	</update>
	<delete id="mypage_delete_Account" parameterType="String">
		delete from user where id = #{id};
	</delete>
	<select id = "mypage_orderList_select" resultType = "com.windy.vo.Order" parameterType = "String">
		SELECT windy1010.order.*,product.p_name from windy1010.order natural join product where id = #{id} and o_state = 'wait';
	</select>
	<select id = "challenge_list_select" resultType = "com.windy.vo.Challenge_list">
		SELECT * FROM windy1010.challenge_list;
	</select>
	
	<select id = "productlist" resultType = "com.windy.vo.Product" parameterType = "page">
		select * from product where p_kind = #{p_kind} order by p_code desc limit #{s_limitindex}, 6;
	</select>
	<select id = "paging" resultType = "Integer" parameterType = "String">
		select count(*) from product where p_kind = #{value} ;
	</select>
	<insert id = "ins" parameterType = "board">
		insert into ${board_name} (nick, board_title, board_content, board_date, board_good, board_view, board_image, board_file) values(#{nick}, #{board_title}, #{board_content}, now(), 0, 0, #{board_image}, #{board_file});
	</insert>
	<insert id = "join" parameterType = "user">
		insert into user (id, pw, name, nick, birth, email, tel, sex, addr, addr1, addr2, addr3, b_have, f_bike, sms) values(#{id}, #{pw}, #{name}, #{nick}, #{birth}, #{email}, #{tel}, #{sex}, #{addr}, #{addr1}, #{addr2}, #{addr3}, #{b_have}, #{f_bike}, #{sms});
	</insert>
	<delete id = "boarddel" parameterType = "board">
		delete from ${board_name} where board_num = #{board_num};
	</delete>
	<update id = "boardupd" parameterType = "board">
		update ${board_name} set board_title = #{board_title}, board_content = #{board_content}, board_file = #{board_file}, board_image = #{board_image} where board_num = #{board_num};
	</update>
	<update id = "boardgoodupd" parameterType = "Integer">
		update ${board_name} set board_good = board_good+1 where board_num = #{board_num};
	</update>
	<update id = "boardviewupd" parameterType = "Integer">
		update ${board_name} set board_view = board_view+1 where board_num = #{board_num};
	</update>
	<select id = "EventListing" resultType = "com.windy.vo.Event" parameterType="page">
		<![CDATA[
			select * from event where e_date >= #{time} limit #{s_limitindex}, 6;
		]]>
	</select>
	<select id = "EventListend" resultType = "com.windy.vo.Event" parameterType="page">
		<![CDATA[
			select * from event where e_date <= #{time} limit #{s_limitindex}, 6;
		]]>
	</select>
	<select id = "EventDetail" resultType = "com.windy.vo.Event" parameterType="String">
		select * from event where e_num=#{value};
	</select>
	
	<insert id = "EventInsert" parameterType = "String">
		insert into event_pp (id, e_num) values(#{id}, #{e_num});
	</insert>
	
	<select id = "EventCheck" resultType = "com.windy.vo.Event_p" parameterType="String">
		select count(distinct id) as participant from event_pp where e_num=#{value};
	</select>
	
	<select id = "EventWinner" resultType = "com.windy.vo.Event_p" parameterType="String">
		select distinct id as winner from windy1010.event_pp where e_num = #{value} order by rand() limit 3;
	</select>
	<select id = "eventpaging" resultType = "Integer" parameterType = "String">
	<![CDATA[
		select count(*) from event where e_date >= #{value} ;
	]]>
	</select>
	<select id = "eventpagend" resultType = "Integer" parameterType = "String">
	<![CDATA[
		select count(*) from event where e_date <= #{value} ;
	]]>
	</select>
	<select id = "BikeList" resultType = "com.windy.vo.Bike" parameterType="String">
			select * from bike_view where bike_brand=#{value};
	</select>
	<select id = "BikeBackList" resultType = "com.windy.vo.Bike" parameterType="String">
			select * from bike_view where bike_brand= (select bike_brand from bike_view where bike_num=#{value});
	</select>
	<select id = "BikeComment" resultType = "com.windy.vo.B_comment" parameterType="String">
			select * from bike_comment where bike_num=#{value};
	</select>
	<insert id = "CommentInsert" parameterType = "com.windy.vo.B_comment">
		insert into bike_comment (comment_id, comment_content, bike_num) values(#{comment_id}, #{comment_content}, #{bike_num});
	</insert>
	<select id = "BikeListSelect" resultType = "com.windy.vo.Bike" parameterType="String">
			select * from bike_view where bike_num=#{value};
	</select>
	<update id = "CommentEdit" parameterType = "com.windy.vo.B_comment">
		update bike_comment set comment_content = #{comment_content} where comment_no=#{comment_no};
	</update>
	<delete id = "CommentDelete" parameterType = "com.windy.vo.B_comment">
		delete from bike_comment where comment_no =#{comment_no};
	</delete>
	
	
	
	<insert id = "reply" parameterType = "board">
		insert into ${board_name} (nick, board_num, board_date, board_content) values(#{nick}, #{board_num}, now(), #{board_content});
	</insert>
	<select id = "replyview" resultType = "board" parameterType = "board">
		select * from ${board_name} where board_num = #{board_num} order by board_date asc;
	</select>
	
	
	
	
	<select id = "courselist" parameterType = "String" resultType = "course">
		select * from course where c_area = #{value} order by c_like desc limit 5;
	</select>
	
	<select id = "coursedetail" parameterType = "String" resultType = "course">
		select * from course where c_name = #{value};
	</select>
	
	<select id = "courseboardlist" parameterType = "Page" resultType = "course">
		select * from course order by c_like desc limit #{limitindex}, 20;
	</select>
	
	<select id = "coursecount" resultType = "Integer">
		select count(*) from course;
	</select>
	
	<select id = "coursecountsearch" resultType = "Integer" parameterType = "page">
		select count(*) from course where c_area like #{s_type} and c_name like #{s_key};
	</select>
	
	<select id = "courseboardlists" resultType = "course" parameterType = "page">
		select * from course where c_area like #{s_type} and c_name like #{s_key} order by c_like desc limit #{limitindex}, 20;
	</select>
	
	<delete id = "courseboarddel" parameterType = "course">
		delete from course where c_num = #{c_num};
	</delete>
	
	<update id = "courseboardupd" parameterType = "course">
		update course set c_name = #{c_name}, c_cont = #{c_cont}, c_img = #{c_img} where c_num = #{c_num};
	</update>
	
	<update id = "courseboardgoodupd" parameterType = "Integer">
		update course set c_like = c_like+1 where c_num = #{c_num};
	</update>
	
	<update id = "courseboardviewupd" parameterType = "Integer">
		update course set c_view = c_view+1 where c_num = #{c_num};
	</update>
	
	<select id = "courseboardview" resultType = "course" parameterType = "course">
		select * from course where c_num = #{c_num};
	</select>
	
	<insert id = "courseins" parameterType = "course">
		insert into course (nick, c_name, c_cont, c_date, c_like, c_view, c_img, c_area, c_location) values(#{nick}, #{c_name}, #{c_cont}, now(), 0, 0, #{c_img}, #{c_area}, #{c_location});
	</insert>
	
	<select id = "coursewriterchk" resultType = "String" parameterType = "course">
		select nick from course where c_num = #{c_num};
	</select>
</mapper>